.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.full-container {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    background-color: orange;
}

.work-info {
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 15px;
    background-color: #000099;
    padding-left: 10px; 
    padding: 10px;
    margin-top: 40px;
}

.cards-title, .hours {
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
}


