.home-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15%;
}

@media all and (max-width: 600px){
	.home-container {
        display: flex;
        flex-direction: column;
    }
}